.formContainer {
  max-width: 450px;
  border: 1px solid #ccc;
  margin: 0 auto;
  padding: 0.5rem;
  border-radius: 0.3rem;
}

.formGroup label {
  display: inline-block;
  margin-bottom: 0.5rem;
}

.formGroup input {
  width: 100%;
  padding: 0.6rem;
  outline: none;
  border: 1px solid #ccc;
  border-radius: 0.3rem;
  font-size: 1rem;
}

.submitBtn {
  border: none;
  padding: 0.7rem 1rem;
  background-color: #15bd68;
  color: #fff;
  border-radius: 0.3rem;
  cursor: pointer;
  transition: 0.5s;
  font-size: 1rem;
  margin-top: 1rem;
}
