.btn {
  background-color: #15bd68;
  padding: 0.7rem 2rem;
  border: none;
  border-radius: 3.12rem;
  color: #fff;
  cursor: pointer;
  font-size: 1rem;
  transition: 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.btn:hover {
  background: #0aaa5a;
}

.btn:disabled {
  background: #b1b1b1;
  cursor: not-allowed;
}
