@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;500;600;700;800&display=swap");

:root {
  --font-primary: "Inter", sans-serif;
  --font-secondary: "Dosis", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-primary);
  background-color: #fff;
}

section {
  padding: 1rem 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 0;
}

ul {
  list-style-type: none;
  margin-bottom: 0;
}

ul li {
  margin: 1rem 0;
}

/* ul li a {
  color: #333 !important;
} */

input {
  outline: none;
  color: #000;
}

.container {
  max-width: 1300px;
  width: 100%;
  margin: auto !important;
  padding: 0.5rem;
}

.desktop {
  display: block;
}

.mobile {
  display: none;
}

.pos-title {
  margin-bottom: 1.5rem;
}

.pos-title h2 {
  font-weight: bold;
  padding-bottom: 0.5rem;
}

.pos-title p {
  font-size: 0.8rem;
}

.footer-link {
  color: #000 !important;
}

/* Navigation */

/* Buttons start here */

.dropdown-menu {
  background-color: #15bd68;
  padding: 0.7rem 5rem;
  color: #fff;
  font-weight: 500;
  border-radius: 50px;
  font-size: 1rem;
  display: flex;
  align-items: center;
  gap: 0.4rem;
  cursor: pointer;
}

.dropdown-menu:hover {
  color: #fff;
}

/* Buttons end here */

.link {
  color: #333 !important;
  transition: 0.5s !important;
}

.link:hover {
  color: #15bd68 !important;
  transition: 0.5s !important;
}

.link-ul li {
  display: inline-block;
  margin: 0 1rem;
}

.link-ul .link-list a {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #e5e5e5;
  border-radius: 50px;
  transition: 0.3s;
  color: #000;
}

.link-ul .link-list a:hover {
  color: #fff;
  background-color: #15bd68;
  transition: 0.3s;
}

.nav-link {
  color: #000;
  text-decoration: none;
  transition: 0.3s;
  margin: 0 0.5rem;
}

.nav-link:hover {
  color: #15bd68;
}

/* Ant Design modify override */

.ant-layout .ant-layout-header,
.ant-layout .ant-layout-sider,
.ant-layout .ant-layout-sider-trigger,
.ant-menu-dark {
  background: #184d47 !important;
}

.ant-steps
  .ant-steps-item-finish
  > .ant-steps-item-container
  > .ant-steps-item-content
  > .ant-steps-item-title::after {
  background-color: #15bd68;
}

@media only screen and (max-width: 688px) {
  .desktop {
    display: none;
  }

  .mobile {
    display: block;
  }

  /* Navigation */
  .mobile-navbar-btn {
    position: absolute;
    top: 35%;
    right: 5%;
    z-index: 999;
  }
}
