.sliderContent a {
  text-decoration: none;
}

.sliderContent {
  position: absolute;
  top: 50%;
  left: 10%;
  transform: translateY(-50%);
  width: 30%;
}

.sliderContent > * {
  margin: 1rem 0;
}

.sliderContent > h1 {
  font-size: 2.8rem;
}

.caption {
  font-size: 1.4rem;
  font-weight: 500;
}

.price {
  color: #da2e1f;
  font-size: 2rem;
  font-weight: bold;
}

@media only screen and (max-width: 688px) {
  .sliderImage {
    object-fit: cover;
    object-position: -55rem;
  }

  .sliderContent {
    width: 100%;
    left: 3%;
  }

  .sliderContent > h1 {
    font-size: 1.5rem;
  }

  .caption {
    font-size: 1rem;
  }

  .price {
    font-size: 1.2rem;
  }
}
