.mainNav {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  background: #fff;
  z-index: 999;
}

.navbarContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden !important;
}

.navbarListsContainer {
  display: flex;
  align-items: center;
}

.navbarLists {
  display: inline-block;
  margin: 0 0.6rem;
}

.navbarLists:first-child {
  margin-left: 0;
}

.navbarLists:last-child {
  margin-right: 0;
}

.navbarLists a {
  color: #000;
  font-weight: 500;
  text-decoration: none;
  transition: 0.3s;
}

.navbarLists a:hover {
  color: #15bd68;
  transition: 0.3s;
}

@media only screen and (max-width: 688px) {
  .navbarListsContainer {
    display: none;
  }

  .navbarListsMobileContainer {
    position: absolute;
    top: 68px;
    right: 0;
    transform: translateX(0);
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
    background: #fff;
    width: 100vw;
    height: 100vh;
    overflow-y: auto;
  }

  .navbarLists {
    margin: 0;
  }
}
