.topBannerContainer {
  display: flex;
  gap: 1rem;
}

.topBannerContainer .topBannerContent {
  width: 100%;
  overflow: hidden;
  border-radius: 0.3rem;
  position: relative;
  cursor: pointer;
}

.topBannerContainer .topBannerContent > img {
  width: 100%;
  transition: 0.5s;
}

.topBannerContainer .topBannerContent:hover > img {
  transform: scale(1.1);
  transition: 0.5s;
}

.topBannerContainer .topBannerContent .topBannerText {
  position: absolute;
  top: 50%;
  left: 0;
  bottom: 0;
  padding: 1rem;
  transform: translateY(-50%);
}

.topBannerContainer .topBannerContent .topBannerText p {
  font-size: 1.4rem;
}

.topBannerContainer .topBannerContent .topBannerText h2 {
  margin: 0.3rem 0;
  font-weight: bold;
}

.topBannerContainer .topBannerContent .topBannerText h3 {
  color: #da2e1f;
  padding-top: 0.5rem;
  font-size: 1.6rem;
  text-transform: uppercase;
  font-weight: 600;
  font-family: var(--font-secondary);
}

.price {
  color: #da2e1f;
  padding-top: 0.5rem;
  font-size: 1.6rem;
  text-transform: uppercase;
  font-weight: 600;
  font-family: var(--font-secondary);
}

@media only screen and (max-width: 688px) {
  .topBannerContainer {
    flex-direction: column;
  }
}
