.productContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0.3rem;
}

@media only screen and (max-width: 768px) {
  .productContainer {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (max-width: 688px) {
  .productContainer {
    grid-template-columns: 1fr;
  }
}
